{
  "extends": ["airbnb", "airbnb/hooks"],
  "parserOptions": { "ecmaVersion": 6 },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "space-before-function-paren": ["error", "never"],
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "linebreak-style": ["error", "windows"]
  }
}
